.toolbar {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
}

.toolbar a {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  text-decoration: none;
}

.toolbar a:hover,
.active {
  opacity: 0.8;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}