<section class="animate__animated animate__fadeIn ">
    <div class="bg-white shadow">
        <div class="mx-auto max-w-7xl mt-8 py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl text-center font-bold tracking-tight drop-shadow-lg shadow-black">Politica de privacidad
            </h1>
        </div>
    </div>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div class="px-4 sm:px-0">
            <div class="bg-white py-12">
                <div class="content" role="main">
                    <article>

                        <div class="entry-main">

                            <div class="entry-content">


                                <p><strong>Reglamento General de Protección de Datos (GDPR)</strong></p>



                                <p><strong>INFORMACIÓN AL USUARIO</strong></p>



                                <p>Josefin Garcia Reinoso es el Responsable del tratamiento de los datos personales del
                                    Usuario y le
                                    informa que estos datos serán tratados de conformidad con lo dispuesto en el
                                    Reglamento General de
                                    Protección de Datos (GDPR), de 27 de abril de 2016, por lo que se le facilita la
                                    siguiente
                                    información del tratamiento:</p>



                                <p>Fin del tratamiento: mantener una relación comercial con el Usuario. Las operaciones
                                    previstas para
                                    realizar el tratamiento son:</p>



                                <p>Remisión de comunicaciones comerciales publicitarias por email, redes sociales o
                                    cualquier otro medio
                                    electrónico o físico, presente o futuro, que posibilite realizar comunicaciones
                                    comerciales. Estas
                                    comunicaciones estarán relacionadas sobre sus productos y servicios, o de sus
                                    colaboradores o
                                    proveedores con los que éste haya alcanzado algún acuerdo de promoción. En este
                                    caso, los terceros
                                    nunca tendrán acceso a los datos personales.</p>



                                <p>Realizar estudios estadísticos.</p>



                                <p>Tramitar solicitudes o cualquier tipo de petición que sea realizada por el usuario a
                                    través de
                                    cualquiera de las formas de contacto que se ponen a su disposición.</p>



                                <p>Remitir el boletín de noticias de la página web.</p>



                                <p>Criterios de conservación de los datos: se conservarán mientras exista un interés
                                    mutuo para mantener
                                    el fin del tratamiento y cuando ya no sea necesario para tal fin, se suprimirán con
                                    medidas de
                                    seguridad adecuadas para garantizar la seudonimización de los datos o la destrucción
                                    total de los
                                    mismos.</p>



                                <p>Comunicación de los datos: No se comunicarán los datos a ningún destinatario.</p>



                                <p>Derechos que asisten al Usuario: Derecho a retirar el consentimiento en cualquier
                                    momento.</p>



                                <p>Derecho de acceso, rectificación y supresión de sus datos y a la limitación u
                                    oposición al su
                                    tratamiento.</p>



                                <p>Derecho a presentar una reclamación ante la Autoridad de control (www.agpd.es ) si
                                    considera que el
                                    tratamiento no se ajusta al GDPR.</p>



                                <p><strong>Datos de contacto para ejercer sus derechos:</strong></p>



                                <p>Dirección postal: 04740 Roquetas de Mar (Almería)</p>



                                <p>Dirección electrónica: josefinaogr@gmail.es</p>



                                <p>Carácter obligatorio o facultativo de la información facilitada por el usuario</p>



                                <p>Los Usuarios, mediante la marcación de las casillas correspondientes y entrada de
                                    datos en los
                                    campos, marcados con un asterisco (*) en el formulario de contacto o presentados en
                                    formularios de
                                    descarga, aceptan expresamente y de forma libre e inequívoca, que sus datos son
                                    necesarias para
                                    atender su petición, por parte del prestador, siendo voluntaria la inclusión de
                                    datos en los campos
                                    restantes. El Usuario garantiza que los datos personales facilitados a Paloma Abad
                                    Villegas son
                                    veraces y se hace responsable de comunicar cualquier modificación de los mismos.</p>



                                <p>Josefin Garcia Reinoso informa y garantiza expresamente a los usuarios que sus datos
                                    personales no
                                    serán cedidos en ningún caso a terceros, y que siempre que realizara algún tipo de
                                    cesión de datos
                                    personales, se pedirá previamente el consentimiento expreso, informado e inequívoco
                                    por parte los
                                    Usuarios. Todos los datos solicitados a través del sitio web son obligatorios, ya
                                    que son necesarios
                                    para la prestación de un servicio óptimo al Usuario. En caso de que no sean
                                    facilitados todos los
                                    datos, no se garantiza que la información y servicios facilitados sean completamente
                                    ajustados a sus
                                    necesidades.</p>



                                <p><strong>Medidas de seguridad</strong></p>



                                <p>Que de conformidad con lo dispuesto en el Reglamento General de Protección de Datos
                                    (GDPR), de 27 de
                                    abril de 2016, relativo a la protección de las personas físicas en lo que respecta
                                    al tratamiento de
                                    datos personales y a la libre circulación de estos datos, en adelante GDPR , Paloma
                                    Abad Villegas
                                    está cumpliendo con todas las disposiciones del GDPR para el tratamiento de los
                                    datos personales de
                                    su responsabilidad, y manifiestamente con los principios descritos en el artículo 5
                                    del GDPR por los
                                    cuales son tratados de manera lícita, leal y transparente en relación con el Usuario
                                    y adecuados,
                                    pertinentes y limitados a lo necesario en relación con los fines para los que son
                                    tratados.</p>



                                <p>Josefin Garcia Reinoso garantiza que ha implementado políticas técnicas y
                                    organizativas
                                    apropiadas para
                                    aplicar las medidas de seguridad que establece el GDPR con el fin de proteger los
                                    derechos y
                                    libertades de los Usuarios y les ha comunicado la información adecuada para que
                                    puedan ejercerlos.
                                </p>
                                <div class="clear"></div>
                            </div> <!-- end article section -->

                            <footer class="entry-meta">
                            </footer> <!-- end article footer -->

                        </div>

                    </article> <!-- end article -->



                    <div class="clear"></div>


                    <div class="clear"></div>



                    <!-- You can start editing here. -->







                </div>
            </div>


        </div>
    </div>
</section>