<button class="boton-azul" type="button" (click)="toggleModal()">
  Añadir post
</button>
<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">Crear Post</h3>
        <button
          class="p-1 ml-auto border-0 text-black float-right text-3xl"
          (click)="toggleModal()"
        >
          <span class="text-black opacity-100 h-6 w-6 text-2xl block"> x </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <form [formGroup]="postForm" (ngSubmit)="handleSubmit()">
          <div
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"
          >
            <div class="mb-6 md:flex">
              <div class="md:w-full px-3">
                <label
                  class="uppercase tracking-wide text-black text-xs font-bold mb-2"
                  for="application-link"
                >
                  Titulo*
                </label>
                <input
                  class="w-full rounded-lg border border-blue-500/20 px-4 py-3 text-slate-500 focus:border-blue-500 focus:outline-none"
                  type="text"
                  placeholder="title"
                  name="title"
                  formControlName="title"
                />

                <div
                  *ngIf="
                    postForm.controls['title']?.dirty &&
                    !postForm.controls['title'].valid
                  "
                >
                  <span class="text-red-500 text-xs italic">
                    Introduce un titulo.
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-6 md:flex">
              <div class="md:w-full px-3 mb-6">
                <label
                  class="uppercase tracking-wide text-black text-xs font-bold mb-2"
                  for="application-link"
                >
                  Imagen*
                </label>
                <input
                  class="w-full rounded-lg border border-blue-500/20 px-4 py-3 text-slate-500 focus:border-blue-500 focus:outline-none"
                  type="text"
                  placeholder="image"
                  name="image"
                  formControlName="image"
                />
                <div
                  *ngIf="
                    postForm.controls['image']?.dirty &&
                    !postForm.controls['image'].valid
                  "
                >
                  <span class="text-red-500 text-xs italic">
                    Introduce una imagen.
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-6 md:flex">
              <div class="md:w-full px-3 mb-6">
                <label
                  class="uppercase tracking-wide text-black text-xs font-bold mb-2"
                  for="application-link"
                >
                  Descripción*
                </label>
                <input
                  class="w-full rounded-lg border border-blue-500/20 px-4 py-3 text-slate-500 focus:border-blue-500 focus:outline-none"
                  type="text"
                  placeholder="description"
                  name="description"
                  formControlName="description"
                />
                <div
                  *ngIf="
                    postForm.controls['description']?.dirty &&
                    !postForm.controls['description'].valid
                  "
                >
                  <span class="text-red-500 text-xs italic">
                    Introduce una description.
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-6">
              <div class="md:w-full px-3 mb-6">
                <label
                  class="uppercase tracking-wide text-black text-xs font-bold mb-2"
                  for="application-link"
                >
                  Contenido*
                </label>
                <textarea
                  formControlName="content"
                  name="content"
                  class="w-full rounded-lg border border-blue-500/20 px-4 py-3 text-slate-500 focus:border-blue-500 focus:outline-none"
                ></textarea>
                <div
                  *ngIf="
                    postForm.controls['content']?.dirty &&
                    !postForm.controls['content'].valid
                  "
                >
                  <span class="text-red-500 text-xs italic">
                    Introduce una content.
                  </span>
                </div>
              </div>
            </div>

            {{ postForm.value | json }}

            <div class="mb-6 md:flex mt-2">
              <div class="md:w-full px-3">
                <button
                  type="submit"
                  class="w-full rounded border border-blue-300 bg-blue-500 p-3 text-white transition-all hover:bg-opacity-90 disabled:opacity-25"
                  [disabled]="postForm.invalid"
                >
                  Añadir post
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
