.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  align-content: center;
  //background-color: tomato;
  height: 3.5rem;
  border-bottom: solid 1px #3d3f7b4d;
  box-shadow: 0 0 29px #3c3c3c6b;

}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar a {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  text-decoration: none;
}

.toolbar a:hover,
.active {
  opacity: 0.8;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}