<section class="text-gray-600 body-font overflow-hidden" @inOut>
  <div class="bg-white shadow">
    <div class="text-center mt-12 pb-8">
      <h1 class="text-5xl md:text-6xl font-extrabold leading-tighter mb-4">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400"
          >Tarifas</span
        >
      </h1>
    </div>
  </div>
  <div class="bg-slate-50/80 py-8 mx-auto">
    <div class="flex flex-wrap justify-center md-0 md:-m-4">
      <div
        class="p-4 xl:w-1/4 md:w-1/2 w-full"
        *ngFor="let item of prices; index as i"
      >
        <div
          class="h-full p-6 rounded-lg border-2 flex flex-col relative overflow-hidden"
          [ngClass]="{ 'border-indigo-500': i === selected }"
        >
          <span
            class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
            >{{ item.type }}</span
          >
          <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
            {{ item.title }}
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
          >
            <span>{{ item.price }}</span>
            <!-- <span class="text-lg ml-1 font-normal text-gray-500">/mo</span> -->
          </h1>
          <p
            class="flex items-center text-gray-600 mb-2"
            *ngFor="let check of item.checks"
          >
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg> </span
            >{{ check }}
          </p>

          <button
            class="flex items-center mt-auto text-white bg-indigo-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-indigo-600 rounded"
            (click)="selected = i"
          >
            Seleccionar
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          <p class="text-xs text-gray-500 mt-3">Texto subnote.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-gray-100 py-8">
    <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
      <h2
        class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
      >
        Pricing
      </h2>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto bg-blue-700 w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
        <div
          *ngFor="let item of prices"
          class="flex flex-col w-5/6 p-6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg mt-4"
        >
          <div
            class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow"
          >
            <div class="p-8 text-3xl font-bold text-center border-b-4">
              {{ item.title }}
            </div>
            <ul
              class="w-full text-center text-sm"
              *ngFor="let check of item.checks"
            >
              <li class="border-b py-4">{{ check }}</li>
            </ul>
          </div>
          <div
            class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
          >
            <div
              class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"
            >
              {{ item.price }}
              <span class="text-base">for one user</span>
            </div>
            <div class="flex items-center justify-center">
              <button
                class="mx-auto lg:mx-0 hover:underline bg-blue-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
              >
                Seleccionar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
