@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
     //font-family: "Inter", sans-serif;
  }
}

// ctrl + k , guardar sin formatear
@layer components {
  .boton-header {
    @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0;
  }
  .boton-azul{
    @apply block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
  }
}